@font-face {
	font-family: 'Athletics';
	src: url('fonts/athletics-regular.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Athletics';
	src: url('fonts/athletics-bold.otf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Stray Bullets';
	src: url('fonts/straybullets-smooth.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* GENERIC STYLE
-------------------------------------------------- */

body { background-color: #000; margin: 0; padding: 0; }
a { text-decoration: underline; color: inherit; }
p { margin-top: 0.2rem; }

section {
	position: relative;
	z-index: 2;
	font: 1.6rem "Athletics", sans-serif;
	padding: 80px 20%;

}

section h1 { font: 4.6rem "Stray Bullets", cursive, sans-serif; margin: 0 0 20px 0; }
section h2 { font: 1.6rem "Athletics", sans-serif; font-weight: bold; margin: 4rem 0 0 0; }

.btnLg { 
	padding: 15px 30px;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    background-color: #ecd9ce;
    font: 1.6rem "Athletics", sans-serif;
    border: none;
    text-decoration: none;
    -webkit-appearance: none;
}

/* SECTIONS
-------------------------------------------------- */

section:nth-of-type(1) { 
	height: 100vh;
	padding: 4rem;
	box-sizing: border-box;
}

section:nth-of-type(1):before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: #ecd9ce url("img/bg.jpg") center/cover no-repeat;
}


.savethedate { position: relative; height: 100%; }
.savethedate img { width: 30%; }
.savethedate p {
	position: absolute;
	bottom: 0;
	color: #ecd9ce;
	letter-spacing: .05rem;
	text-shadow: 1px 1px 2px #333;
}

section:nth-of-type(2) { background: #ecd9ce; padding-bottom: 50px; padding-top: 50px; }

section:nth-of-type(3) { background: darkgrey url("img/beach.jpg") no-repeat center/cover; }
section:nth-of-type(3) h1 { color: white; text-shadow: 1px 1px 2px #222; }

footer {
	position: relative;
	background-color: #1a252f;
	color: #fff;
	text-align: center;
	padding-top: 20px; padding-bottom: 20px;
	font: 1rem "Athletics", sans-serif;
	z-index: 2;
}

footer .fas { margin: 0 5px; }
